<!DOCTYPE html>

<html lang="en">
	<%- include('./modules/head') %>
	
	<body>
		<div id="back">
			<%- include('./modules/header') %>
			<%- include('./modules/nav') %>

			<p>We have a new user. Wellcome! :D</p>
		</div>
	</body>
</html>