@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Exo');

/* 
	Color pallete
	
	#EFF4FF
	#8C89D1
	#5258A1
	#212D57
	#132242

	View: https://coolors.co/eff4ff-8c89d1-5258a1-212d57-132242;
*/

body {
	background-color: #8C89D1;
	font-family: 'Exo', sans-serif;
	color: #132242;
}

a {
	text-decoration: none;	
}

a:hover {
	color: #5258A1;
}


header {
	text-align: center;
}

input {
	border-radius: 6px;
}

div#back {
	background-color: #EFF4FF;
	border-radius: 10px;
	width: 600px;
	box-shadow: 2px 4px 8px rgba(0, 0, 0, .4);
	padding: 16px;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

form#login {
	background-color: #8C89D1;
	border-radius: 4px;
	padding: 8px;
	text-align: center;
}

form#login input {
	margin: 8px;
}

nav#menu ul {
	list-style: none;
}

nav#menu ul li {
	display: inline-block;
	padding: 10px;
}
