name: CD

on:
  workflow_run:
    workflows: ['CI']
    types:
      - completed
    branches:
      - master

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - run: exit 0
  publish:
    name: Publish Image
    needs:
      - ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: docker image build -t servicespack/users-api:latest -t servicespack/users-api:$(npm pkg get version | sed 's/"//g') .
      - run: docker login -u servicespack -p ${{ secrets.DOCKER_HUB_TOKEN }}
      - run: docker image push -a servicespack/users-api
      - uses: peter-evans/dockerhub-description@v3
        with:
          username: servicespack
          password: ${{ secrets.DOCKER_HUB_TOKEN }}
          repository: servicespack/users-api
